body {
  margin: 0 auto;
  background-color: #fff;
  font-size: 16px;
}

.header {
  display: flex;
  padding: 1rem 0;
  border-bottom: solid 1px #c6c6c6;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 48rem) {
  .header {
    padding: 1.5rem 0;
  }
}

.product__title {
  display: block;
  margin: 1rem 0 1rem .5rem;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: 'Lora', serif, Helvetica Neue, Helvetica;
  line-height: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  .product__title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-family: 'Lora', serif, Helvetica Neue, Helvetica;
    line-height: 1.75rem;
  }
}

.product__slider {
  position: relative;
  right: 50%;
  left: 50%;
  overflow-x: scroll;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
  white-space: nowrap;
  font-size: 0;
}

@media only screen and (min-width: 48rem) {
  .product__slider {
    position: inherit;
    margin: 0;
    width: 100%;
  }
}

.product__slider-image {
  width: 300px;
  height: 100%;
}

@media only screen and (min-width: 48rem) {
  .product__slider-image {
    width: 432px;
    height: 100%;
  }
}

.product__info {
  padding: 1rem .5rem 0rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__info {
    padding: 0;
  }
}

.product__info-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__info-price {
  margin: 0;
  padding: 0;
  color: #171717;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
  line-height: 1.1875rem;
}

.product__info-code {
  margin: 0;
  padding: 0;
  color: #171717;
  font-size: .75rem;
  font-family: Raleway;
  line-height: 1rem;
}

.product__color {
  margin-top: 1rem;
}

.product__color-current {
  margin: 0;
  padding-left: .5rem;
  color: #171717;
  font-size: .75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.34;
}

@media only screen and (min-width: 48rem) {
  .product__color-current {
    padding-left: 0;
  }
}

.product__color-buttons {
  display: flex;
  margin: 1rem 0rem 2rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__color-buttons {
    margin-left: 0;
  }
}

.product__button-color {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 1px #232122;
  border-radius: 6.25rem;
  background-color: #cfa880;
  font-size: 0rem;
  cursor: pointer;
}

.product__button-color + .product__button-color {
  margin-left: 1rem;
}

.product__button-color-active {
  background-color: #000;
}

.divider-product {
  display: flex;
  margin: 0 .5rem;
  border: 0;
  border-bottom: 1px solid #c6c6c6;
}

@media only screen and (min-width: 48rem) {
  .line-short {
    margin: 0;
  }
}

.product__actions {
  display: flex;
  flex-direction: column;
  margin: 2rem .5rem 3rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__actions {
    margin: 2rem 0rem 3rem 0rem;
  }
}

.product__actions-size {
  padding: 1rem 0rem 1rem 0rem;
  border: solid 1px #171717;
  border-radius: 2px;
  background-color: #171717;
  color: #fff;
  text-align: center;
  font-size: .75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

.product__actions-find {
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem 0rem 1rem 0rem;
  border: solid 1px #999;
  border-radius: 2px;
  background-color: transparent;
  color: #171717;
  text-align: center;
  font-size: .75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

.product__actions-help {
  margin: 1.5rem 0rem 0rem 0rem;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #171717;
  text-align: left;
  font-size: .75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.35;
}

.divider-full-width {
  position: relative;
  right: 50%;
  left: 50%;
  margin: 0 -50vw 0 -50vw;
  padding: 0;
  width: 100vw;
  height: 1px;
  border: none;
  background-color: #c6c6c6;
}

@media only screen and (min-width: 48rem) {
  .divider-full-width {
    display: none;
  }
}

.product__description {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1.9375rem 1rem;
}

@media only screen and (min-width: 48rem) {
  .product__description {
    margin: 1.5rem .5rem 0rem .5rem;
  }
}

.product__description-button {
  display: flex;
  padding: 0;
  border: 0;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.product__description-title {
  margin: 0;
  color: #171717;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.25rem;
}

.product__description-button:after {
  content: url('../images/triangle-down.svg');
  transform: rotate(180deg);
}

@media only screen and (min-width: 48rem) {
  .product__description-button:after {
    display: none;
  }
}

.product__description-text {
  margin-top: 2rem;
}

.product__description-text p {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 24px;
}

.product__description-text ul {
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;
  color: #171717;
  list-style: none;
  font-size: .875rem;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  .product__description-text {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 48rem) {
  .product__description-arrow {
    display: none;
  }
}

.product__shipping {
  display: flex;
  flex-direction: column;
  margin: 2rem .5rem 2rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__shipping {
    display: none;
  }
}

.product__shipping-button {
  display: flex;
  padding: 0;
  border: 0;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.product__shipping-button:after {
  content: url('../images/triangle-down.svg');
}

.product__shipping-title {
  margin: 0;
  color: #171717;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.35rem;
}

.product__delivery {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .product__delivery {
    display: block;
    margin-top: 1.5rem;
  }

  .product__delivery-image {
    vertical-align: middle;
    width: 100%;
  }

  .product__delivery-title {
    margin: 0;
    margin-bottom: 1rem;
    color: #171717;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.125rem;
  }

  .product__delivery-subject {
    margin: 0;
    margin-bottom: .25rem;
    color: #171717;
    text-align: left;
    font-weight: 700;
    font-size: .75rem;
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: .875rem;
  }

  .product__delivery-text {
    margin: 0;
    margin-bottom: 1.5rem;
    color: #171717;
    text-align: left;
    font-size: .75rem;
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1rem;
  }
}

.product__related {
  margin-top: 3rem;
  padding: 0 .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__related {
    margin-top: 1.5rem;
    padding: 0;
  }
}

.product__related-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: solid 1px #171717;
  color: #171717;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

@media only screen and (min-width: 48rem) {
  .product__related-title {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.product__related-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  flex-basis: 8.125rem;
}

.product__related-image {
  width: 100%;
  height: 174px;
    /* Сделал для того чтобы макет не ехал */
  ;
}

@media only screen and (min-width: 48rem) {
  .product__related-image {
    height: auto;
  }
}

.product__related-subject {
  margin: .5rem 0;
  color: #111;
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2rem;
}

.product__related-price {
  margin: 0;
  color: #999;
  text-decoration: none;
  font-size: .75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.17;
}

.product__more {
  margin: 0rem .5rem;
}

@media only screen and (min-width: 48rem) {
  .product__more {
    display: none;
  }
}

.product__more-placeholder {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.product__more-title {
  display: inline-block;
  margin: 0;
  padding-bottom: .5rem;
  border-bottom: solid 1px #171717;
  color: #171717;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

.product__more-link {
  display: block;
  padding-bottom: 1rem;
  color: #171717;
  text-decoration: none;
  font-style: italic;
  font-size: .875rem;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.215;
}

.product__more-title + .product__more-link {
  padding-top: 1.5rem;
}

.footer {
  margin-top: 2rem;
  padding: 1.5rem .5rem 2rem;
  background-color: #f3f3f3;
}

@media only screen and (min-width: 48rem) {
  .footer {
    padding-top: 2em;
    padding-right: 0;
    padding-bottom: 1.5rem;
    padding-left: 0;
  }
}

.footer-menu {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .footer-menu {
    display: block;
    margin-bottom: 1.125rem;
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }
}

.footer-menu__title {
  margin-top: 0;
  margin-bottom: .625rem;
  font-weight: 700;
  font-size: .75rem;
  line-height: .875rem;
}

.footer-menu__link {
  display: block;
  padding-top: .375rem;
  padding-bottom: .375rem;
  color: #999;
  text-decoration: none;
  font-size: .75rem;
  line-height: 1rem;
}

@media only screen and (min-width: 48rem) {
  .footer__buttons {
    display: flex;
  }
}

.footer__button {
  display: block;
  padding: .5rem 0;
  border: none;
  background-color: #f3f3f3;
  color: #999;
  font-size: .75rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 48rem) {
  .footer__button {
    margin-right: 1.5rem;
  }
}

.footer__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.1875rem;
}

.footer__contact-link {
  display: block;
  color: #171717;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-size: .875rem;
  font-family: 'Lora', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.2;
}

@media only screen and (min-width: 48rem) {
  .footer__title,
    .footer__contact-link {
    display: none;
  }
}
