body {
  background-color: #fff;
  margin: 0 auto;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #c6c6c6;
  padding: 1rem 0rem 1rem 0rem;
}

.product-title-text {
  font-family: 'Lora', serif, Helvetica Neue, Helvetica;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: block;
  margin: 1rem 0 1rem 1rem;
}

.carousel {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

.product-content {
  padding: 1rem 1rem 2rem 1rem;
}

.product-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #171717;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.product-code {
  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #171717;
  padding: 0;
  margin: 0;
}

.product-color {
  font-size: 0.75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #171717;
  margin: 0;
  margin-top: 1rem;
  line-height: 1.34;
}

.button-container {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
}

.button-color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 6.25rem;
  background-color: #cfa880;
  border: solid 1px #232122;
  cursor: pointer;
}

.button-color + .button-color {
  margin-left: 1rem;
}

.button-active {
  background-color: #000;
}

.line-short {
  display: flex;
  margin: 0rem 1rem 0rem 1rem;
  border: 0;
  border-bottom: 1px solid #c6c6c6;
}

.main-buttons {
  display: flex;

  flex-direction: column;
  margin: 2rem 1rem 3rem 1rem;
}

.select-size-button {
  font-size: 0.75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#fff;
  background-color: #171717;
  border: solid 1px #171717;
  border-radius: 2px;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  line-height: 1.2;

}

.find-store-button {
    font-size: 0.75rem;
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#171717;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    background-color: transparent;
    border: solid 1px #999999;
    border-radius: 2px;
    margin: 1rem 0rem 0rem 0rem;
    line-height: 1.2;
  }

.help-size-button {
  font-size: 0.75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#171717;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 1.5rem 0rem 0rem 0rem;
  line-height: 1.35;
}

.line-full {
  display: flex;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #c6c6c6;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 1rem 2rem 1rem;
}

.description-tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.description-tag-title {
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#171717;
  font-weight: 500;
}

.description-text {
  font-size: 0.875rem;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#171717;
  line-height: 1.5rem;
  margin-top: 1.2rem;
}

.shipping-returns {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 1rem 1.25rem 1rem;
}

.shipping-tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.shipping-tag-title {
  font-size: 1rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#171717;
  font-weight: 500;
}

.related {
  margin-top: 3rem;
  padding: 0rem 1rem 0rem 1rem;
}

.related-title {
  display: inline-block;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color:#171717;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #171717;
  line-height: 1.2;
  margin: 0;
}

.related-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.related-products-thumb {
  display: flex;
  flex-direction: column;
  flex-basis: 8.125rem;
  padding-bottom: 2rem;
}

.related-products-image {
  display: block;
  width: 8.125rem;
  height: 10.875rem;
}

.related-product-sub {
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2rem;
    color: #111111;
    margin: 0.5rem 0px 0.5rem 0px;
}

.related-product-price {
  font-size: 0.75rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#999999;
  text-decoration: none;
  line-height: 1.17;
  margin: 0;
}

.more {
  margin: 0rem 1rem 0rem 1rem;
}

.more-content {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.more-title {
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: #171717;
  border-bottom: solid 1px #171717;
  padding-bottom: 0.5rem;
  display: inline-block;
  margin: 0;
}

.more-web-link {
  display:block;
  font-size: 0.875rem;
  font-style: italic;
  text-decoration: none;
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#171717;
  padding-bottom: 1rem;
  line-height: 1.215;
}

.more-title + .more-web-link {
  padding-top: 1.5rem;
}

.footer {
  padding: 2rem 1rem 2rem 1rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button {
  font-family: Raleway;
  font-size: 12px;
  line-height: 1.35;
  color: #999999;
  background-color: #f3f3f3;
  align-self: flex-start;
  padding: 0;
  border: none;
  text-align: left;
}

.footer-button + .footer-button {
  margin-top: 1rem;
}

.footer-question {
  margin: 1.5rem 0rem 1rem 0rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.footer-contact {
  font-family: 'Lora', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.25;
  margin: 0px;
  padding: 0px;
}
